/* global selectors */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#__next {
  height: 100%;
  background-color: rgb(113, 209, 241);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul,
button {
  list-style-type: none;
  border: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* css variables */
:root {
  --border-width: 2px;
}

/* application selectors */

main {
  display: grid;
  place-items: center;
  height: 100%;
}

.board__max_width {
  position: relative;
  width: 960px;
  height: 960px;
}

.board__back--9x9 {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
  background: hsl(35, 34%, 56%);
  width: 900px;
  height: 900px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.board__back__square--9x9 {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  position: relative;
}

.board__liberties {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  gap: 40px;
}

.liberty {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  z-index: 10;
}

.liberty--white {
  background-color: whitesmoke;
}

.liberty--black {
  background-color: black;
}
.liberty--empty {
  background-color: transparent;
}

.liberty--empty:hover {
  background-color: white;
  opacity: 50%;
}
